* {
  font-family: "Nunito", sans-serif;
}
.footer {
  text-align: center;
}
.devName {
  display: inline-block;
  font-weight: 700;
  text-align: left
}
.name {
    display: inline-block;
    text-align: center;
}
  /* Responsive devlopment for screens like : mobile, tablet and desktop */
@media screen and (max-width: 700px) {
  .devName {  
    display: block;
    text-align: center;
  }
  .name{
    display: block;
    text-align: center;
  }

}