* {
  font-family: "Nunito", sans-serif;
}
.filter-menu {
  width: 250px;
  height: 500px;
  display:inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 2px;
  margin-right: 15px;
}
.filters-txt {
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}
.filterText {
  width: 190px;
  text-align: center;
}

.bottomBorder {
    text-align: center;
    border-bottom: 1px solid #bebebe;
    margin: 0 30px;
    margin-bottom: 10px;
}
.btn {
  width:50px;
  height: 20px;;
  background:#c3f18d;
  border: none;
  border-radius: 5px;
}
.btnClicked {
  background: #3ca80a;
}
.binary-btns-box {
 margin-left: 30px;
 .btn {
   margin-right:60px;
 }
}
.filter-grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px , 2fr)); 
  margin-left: 30px;
}
//  /* Responsive devlopment for screens like : mobile, tablet and desktop */
// @media screen and (max-width: 700px) {
//   .filter-menu {
//   width: 100%;
//   height: 100%;
//   display:block;
//   background-color: rgba(255, 255, 255, 0.8);
//   margin-left: 2px;
//   margin-right: 15px;
// }
// .filter-grid-container {
//   display: grid;
//   grid-gap:10px;
//   grid-template-columns: 1; 
//   margin-left: 30px;
// }

//}