<div class="filter-menu">
  <span class="filters-txt">Filters</span>
  <br><br>
  <span><u>Launch Year</u></span>
  <br><br>
  <div class="filter-grid-container">
    <button class="btn">2006</button>
    <button class="btn">2007</button>
    <button class="btn">2008</button>
    <button class="btn">2009</button>
    <button class="btn">2010</button>

  </div>
  <br><br>
  <span><u>Successful Launch</u></span>
  <br><br>
  <button class="btn">True</button>
  <button class="btn">False</button>
  <br><br>
  <span><u>Successful Landing</u></span>
  <br><br>
  <button class="btn">True</button>
  <button class="btn">False</button>
</div>