<div class="filter-menu">
    <span class="filters-txt">Filters</span>
    
    <div class="filterText">
      <span class="bottomBorder">Launch Year</span>
    </div>
    
    <div class="filter-grid-container">
      <button class="btn"*ngFor="let btn of yearArr;">{{btn}}</button>
    </div>
    <div class="filterText">
      <span class="bottomBorder">Successful Launch</span>
    </div>
    <div class="binary-btns-box">
        <button class="btn">True</button>
        <button class="btn">False</button>
    </div>
    <div class="filterText">
      <span class="bottomBorder">Successful Landing</span>
    </div>
    <div class="binary-btns-box">
      <button class="btn">True</button>
      <button class="btn">False</button>
    </div>
</div>