<app-header></app-header>
<app-filter (data) = "fiteredData($event)"></app-filter>
<!-- <app-filter (isLaunched)="launchSuccessfulfn($event)"></app-filter>
<app-filter (isLanded)="landSuccessfulfn($event)"></app-filter> -->
<div class="container">
  <button (click)="getData()">Click</button>
  <div *ngFor="let p of posts|async">
    {{post|json}}
  </div>
  <!-- <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  </div>
  <div class="grid-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  </div> -->

</div>

<app-footer></app-footer>