<div class="contaniner">
  <app-header></app-header>
  <app-filter (data)="fiteredData($event)"></app-filter>
  
  <div class="grid-container">
    <div class="grid-item" *ngFor="let obj of posts">
      <img class="launchImage" src={{obj.links.mission_patch_small}} alt="" width="100" height="100"> <br>
      {{obj.mission_name}}#{{obj.flight_number}}<br>
      Mission Id: <br>
      Launch Year: {{obj.launch_year}} <br>
      Successful Launch : {{obj.launch_success}}<br>
      Successful Landing: {{obj.rocket.first_stage.cores[0].land_success}}
    </div>
  </div>
  
  <app-footer></app-footer>
</div>
